@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Homeowner</h1>
    <h2>Learn about climate data to find the perfect place to call home <a href="/Skylar"> here.<a></h2>
</div>
