@page
@model HW2Robinson.Pages.SkylarModel
@{
}
<h1 class="h1">Climate Data</h1>
<h2>Designed to meet <i>your</i> needs</h2>


<h2>Example: Average Morgantown Climate &#129299</h2>
<table style="border: 2px solid blueviolet;">
    <tr>
        <th>2021</th>
        <th>2022</th>
    </tr>
<tr>
    <td>59</td>
    <td>57</td>
</tr>
<tr>
    <td>58</td>
    <td>60</td>
</tr>

</table>

<button id="myButton">Click Me</button>

<script>
   
    document.getElementById("myButton").addEventListener("click", function () {
        alert("Button clicked!");
    });
</script>

